.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 15px; 
  }
  
  .header-controls-pics {
    display: flex;
    align-items: center;
  }
  
  
  .navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; /* Убираем стандартные отступы */
  }
  
  .nav-item {
    margin: 0 10px; /* Добавляет пространство между пунктами меню */
  }
  
    
  
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column; 
    }
  }
  