.catalog-search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
  }
  
  .catalog-search-form .form-control {
    flex-grow: 1; 
    margin-right: 10px; 
  }
  

  
  .catalog-search-form .form-control[type="search"] {
    padding: 0.375rem 0.75rem; 
    border-radius: 0.25rem; 
  }
  
  
  